# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Optional npm cache directory
.npm

# Environment variables
.env
.env.*
!/.env.example

# Coverage data
coverage/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db